* {
    font-size: 1.6rem; 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-black: rgb(41, 41, 41);
    --color-white: rgb(255, 255, 255);
    --color-blue: rgb(49, 84, 171);
    --color-orange: rgb(210, 124, 37);
    --font-1rem: 1rem;
    --font-2rem: 2rem;
    --font-3rem: 3rem;
    --font-4rem: 4rem;
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

.title-default-style {
    padding-top: var(--font-2rem);
    font-size: var(--font-3rem);
    margin-bottom: var(--font-2rem);
    color: var(--color-black);
}

.mb-5 {
    margin-bottom: 5rem;
}


.mt-7{
    margin-top: 7vmin;
}

.fs-3rem {
    font-size: 2.5rem; 
}

.full-height {
    min-height: 80vh; 
}

.full-height .row{
    min-height: 75vh;
}

.full-height .row img{
    min-height: 70vh;
}

.full-height-screen{
    min-height: 100vh;
}

.full-height-screen .row, .full-height-screen .row img{
    min-height: 100vh;
}


.navbar {
    height: 25rem;
    background-color: var(--color-white);
    font-size: var(--font-1rem)
}

.navbar-brand{
    font-size: var(--font-3rem);
}

.navbar-nav .nav-link:hover {
    color: var(--color-orange) !important;
}


.navbar-nav .nav-link:hover {
    color: var(--color-orange) !important;
}

.row img{
    width: 100%;  
    height: auto; 
    object-fit: cover; 
    
}

.about h2:hover{
    color: var(--color-orange);
    cursor: pointer;
}

.input_form{
    font-size: 1.5rem
}


#footer .box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 20vh;
}


.whatsapp-btn {
    position: fixed;
    bottom: 20px; /* Distância do fundo da tela */
    right: 20px; /* Distância da direita da tela */
    background-color: #25D366; /* Cor verde do WhatsApp */
    color: white;
    border-radius: 50%;
    padding: 15px;
    font-size: var(--font-1rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-radius 0.3s ease-out;

}

.whatsapp-btn i{
    font-size: 4rem;
}

.whatsapp-btn:hover {
    transform: scale(1.2);
    background-color: #128C7E;

}

//Estilo Tela de Login

.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
    }
}


@media (max-width:799px){
    .intro {
        min-height: 60vh;
    }

    .row {
        min-height: 100vh;
    }

    .navbar-nav .nav-link {
        font-size: 1.4rem;
    }

    .title-default-style {
        font-size: 2.4rem;
    }

    .mb-10 {
        margin-bottom: 10vmin;
    }

    .mb-20 {
        margin-bottom: 15vmin;
    }
}

@media (max-width: 600px) {
    .row img {
        width: 100vw;  
        height: 100vh; 
        object-fit: cover; 
    }

    .intro {
        min-height: 60vh;
    }

    .navbar-nav .nav-link {
        font-size: 1.4rem;
    }

    .title-default-style {
        font-size: 2.4rem;
    }

    .mb-10 {
        margin-bottom: 10vmin;
    }

    .mb-20 {
        margin-bottom: 15vmin;
    }
}

